/* Estilos Globais */
* {
    scroll-behavior: smooth; /* Define uma rolagem suave na página */
    font-family: 'Georgia', serif; /* Define a fonte padrão do site */
    margin: 0; /* Remove as margens padrão do body */
    padding: 0; /* Remove o padding padrão do body */
}
html {
    background-color: #0bb1e4;
}

/* Cabeçalho */
.topo {
   /*  background-color: #04a5d6; /* Define a cor de fundo do cabeçalho */
    /* color: #ffffff; /* Define a cor do texto no cabeçalho */
    /*padding: 15px; /* Adiciona espaçamento interno ao cabeçalho 
    display: flex; /* Usa flexbox para alinhar o conteúdo do cabeçalho 
    justify-content: space-between; /* Distribui os itens igualmente no espaço disponível 
    align-items: center; /* Alinha os itens ao centro verticalmente */
    box-shadow: 0 4px 8px 0 rgba(0, 27, 43, 0.247); /* Adiciona uma sombra ao cabeçalho */
    position: fixed; /* Define o elemento como fixo na tela, mantendo-o visível ao rolar a página */
    top: 0;/* Posiciona o elemento no topo da página, a 0 pixels da borda superior */
    width: 100%;/* Faz o elemento ocupar toda a largura da tela */
    z-index: 1000;/* Define a camada de sobreposição do elemento, garantindo que ele fique acima de outros elementos com valores de z-index menores */
}

.navbar-customizado {
    background-color: #04a5d6; /*cor de fundo do cabeçalho*/
}

/* Personalize a cor dos links no cabeçalho */
.navbar-customizado .nav-link {
    color: #000000; /*  */
}

/* Mude a cor dos links ao passar o mouse */
.navbar-customizado .nav-link:hover {
    color: #dbecff; 
}


/* Seção de Destaque */
.destaque {
    position: relative; /* Define a posição relativa para usar posicionamento absoluto dos filhos */
    height: 900px; /* Define a altura da seção de destaque*/
    background: url('Fundo.png') no-repeat center center; /* Define a imagem de fundo centralizada */
    background-size: cover; /* Faz a imagem cobrir toda a área da seção */
    
}

.destaque .overlay {
    position: absolute; /* Define a posição absoluta da sobreposição */
    top: 0; /* Posiciona a sobreposição no topo da seção */
    left: 0; /* Posiciona a sobreposição na esquerda da seção */
    width: 100%; /* Define a largura da sobreposição como 100% */
    height: 100%; /* Define a altura da sobreposição como 100% */
    background: rgba(0, 13, 27, 0.603); /* Adiciona uma camada de cor semitransparente sobre a imagem */
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dentro da sobreposição */
    color: #b5fbff; /* Define a cor do texto na seção de destaque */
}

.destaque h2 {
    font-size: 3em; /* Define o tamanho da fonte do título na seção de destaque */
    margin: 0; /* Remove a margem do título */
}

/******** Seção do Cardápio *********/
.cardapio {
    padding: 50px 20px; /* Define o espaçamento interno da seção do cardápio */
    background-color: #0bb1e4; /* Define a cor de fundo da seção do cardápio */
    text-align: center; /* Centraliza o texto dentro da seção do cardápio */
}

.cardapio h2 {
    font-size: 2.5em; /* Define o tamanho da fonte do título do cardápio */
    margin-bottom: 30px; /* Adiciona espaçamento abaixo do título do cardápio */
}

/* Contêiner da seção de pratos */
.pratos-container {
    position: relative; /* Define a posição relativa para usar posicionamento absoluto dos botões de navegação */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites do contêiner */
    width: 100%; /* Define a largura do contêiner como 100% */
}

/* Contêiner de pratos com rolagem horizontal */
.pratos {
    display: flex; /* Usa flexbox para alinhar os pratos em linha */
    overflow-x: scroll; /* Adiciona rolagem horizontal ao contêiner de pratos */
    scroll-behavior: smooth; /* Define rolagem suave para os pratos */
    padding: 20px 0; /* Adiciona espaçamento interno acima e abaixo dos pratos */
}

.prato {
    flex: 0 0 250px; /* Define uma largura fixa para cada prato */
    margin-right: 20px; /* Adiciona espaçamento à direita de cada prato */
    background-color: #e3faff; /* Define a cor de fundo dos pratos */
    border: 1px solid #86e1f6; /* Adiciona uma borda fina aos pratos */
    border-radius: 8px; /* Define bordas arredondadas nos pratos */
    padding: 15px; /* Adiciona espaçamento interno aos pratos */
    box-shadow: 4px 4px 8px 8px rgba(0, 21, 53, 0.349); /* Adiciona sombra aos pratos */
    text-align: center; /* Centraliza o texto dentro dos pratos */
    transition: transform 0.3s; /* Define uma transição suave ao passar o mouse */
}

.prato img {
    max-width: 100%; /* Limita a largura máxima da imagem a 100% do contêiner */
    border-radius: 8px; /* Define bordas arredondadas para as imagens */
    margin-bottom: 15px; /* Adiciona espaçamento abaixo da imagem */
}

.prato h3 {
    font-size: 1.8rem; /* Define o tamanho da fonte do título do prato */
    margin-bottom: 10px; /* Adiciona espaçamento abaixo do título do prato */
    color: #0c2e51; /* Define a cor do título do prato */
}

.prato p {
    font-size: 1rem; /* Define o tamanho da fonte da descrição do prato */
    color: #5b76a2; /* Define a cor da descrição do prato */
    margin-bottom: 15px; /* Adiciona espaçamento abaixo da descrição do prato */
}

.prato:hover {
    transform: scale(1.05); /* Aumenta o tamanho do prato ao passar o mouse */
}

/* Botão "Adicionar ao Carrinho" */
.prato button {
    background-color: #0c2e51; /* Define a cor de fundo do botão */
    color: #d6f7ff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 10px 20px; /* Adiciona espaçamento interno ao botão */
    font-size: 1rem; /* Define o tamanho da fonte do botão */
    border-radius: 7px; /* Define bordas arredondadas no botão */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    transition: background-color 0.3s; /* Define uma transição suave para a cor de fundo ao passar o mouse */
}

.prato button:hover {
    background-color: #f39c12; /* Altera a cor de fundo do botão ao passar o mouse */
}

/* Botões de navegação (esquerda e direita) */
.nav {
    /* Define o estilo dos botões de navegação para rolagem */
    position: absolute; /* Define a posição absoluta dentro do contêiner */
    top: 50%; /* Posiciona o botão verticalmente no meio */
    transform: translateY(-50%); /* Centraliza o botão verticalmente */
    background-color: #0c2e51; /* Define a cor de fundo do botão */
    color: #e7faff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 10px; /* Adiciona espaçamento interno */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
    z-index: 10; /* Define a camada de sobreposição do botão */
    font-size: 18px; /* Define o tamanho da fonte do botão */
    border-radius: 50%; /* Define bordas arredondadas para o botão */
    opacity: 0.8; /* Define a opacidade do botão */
}

.nav:hover {
    /* Define o estilo do botão de navegação ao passar o mouse */
    opacity: 1; /* Torna o botão totalmente opaco ao passar o mouse */
}

.left-nav {
    /* Define o posicionamento do botão de navegação à esquerda */
    left: 5px; /* Posiciona o botão 10px da borda esquerda */
}

.right-nav {
    /* Define o posicionamento do botão de navegação à direita */
    right: 5px; /* Posiciona o botão 10px da borda direita */
}

/* Oculta a barra de rolagem horizontal */
.pratos::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

/***************/

/* Seção do Carrinho de Compras */

.carrinho {
    /* Define o estilo da seção do carrinho de compras */
    padding: 30px 20px; /* Adiciona espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    background-color: #0bb1e4; /* Define a cor de fundo da seção */
    border-top: 1px solid #66d9ff; /* Adiciona borda superior */
    /* margin-top: 40px; /* Adiciona margem superior */
}

.carrinho h3 {
/* Define o tamanho da fonte e a cor do título do carrinho */
font-size: 2rem; /* Define o tamanho da fonte do título */
margin-bottom: 20px; /* Adiciona margem abaixo do título */
color: #040041; /* Define a cor do título */
}

.carrinho ul {
/* Define o estilo da lista de itens no carrinho */
list-style: none; /* Remove os marcadores da lista */
padding: 0; /* Remove o padding padrão */
margin-bottom: 20px; /* Adiciona margem abaixo da lista */
}

.carrinho ul li {
/* Define o tamanho da fonte e a margem dos itens do carrinho */
font-size: 1.1rem; /* Define o tamanho da fonte dos itens */
margin-bottom: 10px; /* Adiciona margem abaixo dos itens */
}

.carrinho p {
/* Define o tamanho da fonte e o peso do texto total do carrinho */
font-size: 1.2rem; /* Define o tamanho da fonte do total */
font-weight: bold; /* Define o texto em negrito */
}

.carrinho button {
    /* Define o estilo dos botões do carrinho */
    background-color: #0c2e51; /* Define a cor de fundo do botão */
    color: #ecf0f1; /* Define a cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    font-size: 1rem; /* Define o tamanho da fonte do botão */
    border-radius: 5px; /* Define bordas arredondadas */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
    transition: background-color 0.3s; /* Define a transição suave para a cor de fundo */
    margin: 1px; /*margem para separar os botões*/
}

.carrinho button:hover {
    /* Define o estilo do botão ao passar o mouse */
    background-color: #1299f3; /* Altera a cor de fundo ao passar o mouse */
}

/* Rodapé */
.rodape {
    /* Define o estilo do rodapé */
    text-align: center; /* Alinha o texto ao centro */
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: #006f91; /* Define a cor de fundo do rodapé */
    color: #ecf0f1; /* Define a cor do texto no rodapé */
     /* Adiciona margem superior */
}

/* Responsividade */
@media (max-width: 768px) {
    /* Ajusta o layout para telas menores */
    nav ul {
        /* Define o layout vertical para o menu de navegação em telas pequenas */
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .pratos {
        /* Define o layout vertical para os pratos em telas pequenas */
        flex-direction: column; /* Alinha os pratos verticalmente */
    }
}

/* Pedidos*/
.payment-section { padding: 20px; }
.hidden { display: none; }
#qrcode img { max-width: 100%; }

.pedido {
    /* Define o estilo da seção do carrinho de compras */
    padding: 30px 20px 325px; /* Adiciona espaçamento interno */
    text-align: justify; /* Alinha o texto ao centro */
    background-color: #dcf7ff; /* Define a cor de fundo da seção */
    border-top: 1px solid #66d9ff; /* Adiciona borda superior */
    margin-top: 120px; /* Adiciona margem superior */
}

.pedido button {
    /* Define o estilo dos botões do carrinho */
    background-color: #001562; /* Define a cor de fundo do botão */
    color: #ecf0f1; /* Define a cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    font-size: 1rem; /* Define o tamanho da fonte do botão */
    border-radius: 5px; /* Define bordas arredondadas */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
    transition: background-color 0.3s; /* Define a transição suave para a cor de fundo */
    margin: 1px; /*margem para separar os botões*/
}

.pedido button:hover {
    /* Define o estilo do botão ao passar o mouse */
    background-color: #1299f3; /* Altera a cor de fundo ao passar o mouse */
}

/****     ****/

/*sobre nós*/
.about-section {
    margin-top: 120px;
    padding: 50px 20px;
    background-color: #ecf6ff;
}
.about-section h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.about-section .team-member {
    margin-bottom: 30px;
}
.about-section .team-member img {
    max-width: 100%;
    border-radius: 50%;
}
.about-section .team-member h4 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;

}
.about-section .team-member p {
    color: #6c757d;
    text-align: justify;
}